
#coding-options{
    font-size: 0.75em;
    font-weight: 600;
    display: flex;
    flex: 1 1 100%;
    gap: 1em;
    padding: 0.5em;
    background-color: var(--clr-sec-normal);
}

#coding-options button:enabled{
    padding: 0.25em 0.75em;
    color: var(--clr-text);
    border: none;
    border-bottom: 1px solid var(--clr-pri-dark);
    background-color: var(--clr-sec-light);
    cursor: pointer;
}
#coding-options button:disabled{
    padding: 0.25em 0.75em;
    border: none;
}
#coding-options button:hover:enabled{
    padding: 0.25em 0.75em;
    background-color: var(--clr-text);
    border-bottom: 1px solid var(--clr-text);
    color: var(--clr-sec-light);;
}

#coding-div{
    background-color: var(--clr-sec-normal);
}