
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    background-color: var(--clr-background);
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

}

.title{
    text-align: center;
    font-weight: 700;
    color: var(--clr-foreground);

}

#main-title{
    font-size: 1.75em;
    display: inline;
    height: 10%;
}
#main-section{
    display: flex;
    flex: 1 1 100%;
    height: 90%;
    justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

 
::-webkit-scrollbar-thumb {
  background: #555; 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-highlight); 
}

#loading-overlay{
    text-align: center;
    padding-top: 40vh;
    background-color: black;
    color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;    
}

@keyframes fadeout {
    
    0%{
        background-color: black;
        color: white;
    }
    100%{
        background-color: transparent;
        color: transparent;
    }

}
@media screen and (max-width: 640px)  {
    body::before{
        text-align: center;
        padding: 35% 30%;
        content: "ERROR: UI IS NOT DESIGNED FOR THIS WIDTH";
        color: var(--clr-errorLine);
        font-weight: 600;
    }
    body *{
        display: none !important;
    }
    
}