

:root{

    --clr-pri-light: #ffffff;
    --clr-pri-normal: #b9b9b9;
    --clr-pri-dark: #b4b4b4;
    
    --clr-sec-light: #3E3D32;
    --clr-sec-normal: #272822;
    --clr-sec-dark: #202020;

    --clr-text: #ffffff;
    --clr-text-inverted: #000000;

    --clr-success: #3ba31c;
    --clr-error: #a3211c;
    --clr-info: #1c37a3;

    --test: #b3ff00e1;
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    background-color: var(--clr-sec-dark);
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

}

.title{
    text-align: center;
    font-weight: 700;
    color: var(--clr-text);

}

#main-title{
    background-color: var(--clr-sec-dark);
    font-size: 1.75em;
    display: inline;
    height: 10%;
}
#main-section{
    display: flex;
    flex: 1 1 100%;
    height: 90%;
    justify-content: center;
}
@media screen and (max-width: 640px)  {
    body::before{
        text-align: center;
        padding: 35% 30%;
        content: "ERROR: UI IS NOT DESIGNED FOR THIS WIDTH";
        color: var(--clr-error);
        font-weight: 600;
    }
    body *{
        display: none !important;
    }
    
}